<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<!--实现body区域显示一个传智播客名称-->
<div id="app">
    <!--{{name}}--> <!--相当于MVVM的view视图-->
    <a v-bind:href="url"><span v-text="name"></span></a>


    <input type="text" v-model="num1"> +
    <input type="text" v-model="num2"> =
    <span v-text="result"></span>
    <!--{{Number.parseInt(num1) +Number.parseInt(num2) }}-->
    <button v-on:click="change">计算</button>
    <div v-bind:style="{ fontSize: size +'px'}">JAVAEE培训</div>

</div>
</body>
<script src="build.js">

</script>
</html>